*.tgz
*~
.DS_Store
.env
compose.override*yaml
internal-license.key
legacy-license.key
helm/gke-example/values-*.yaml
helm/gke-example/voxel51-docker.json
tests/integration/*/test_output*.log
tests/integration/*/test_output*/*
tests/integration/*/test_reports/*
tests/unit/*/test_output.log
tests/unit/*/test_output/*
tests/unit/*/test_reports/*
secret-license.yaml
