#Auth0 Configuration - This all comes from Voxel51
AUTH0_API_CLIENT_ID=
AUTH0_API_CLIENT_SECRET=
AUTH0_AUDIENCE=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_DOMAIN=
AUTH0_ISSUER_BASE_URL=
AUTH0_ORGANIZATION=

# This should be a random string used to encrypt cookies; use something like `openssl rand -hex 32` to generate this string
AUTH0_SECRET=

# This should be the URL your end-users will connect to
AUTH0_BASE_URL=https://example.fiftyone.ai

# This should be a MongoDB Connection String for your database
FIFTYONE_DATABASE_URI="mongodb://username:password@mongodb-example.fiftyone.ai:27017/?authSource=admin"

# This key is required and is used to encrypt storage credentials in the MongoDB
#   do NOT lose this key!
# generate keys by executing the following in python:
#
# from cryptography.fernet import Fernet
# print(Fernet.generate_key().decode())
#
FIFTYONE_ENCRYPTION_KEY=

# API container configuration
API_BIND_ADDRESS=127.0.0.1
API_BIND_PORT=8000
API_LOGGING_LEVEL=INFO
# The following is a docker-compose link and will work in most situations
API_URL=http://teams-api:8000
FIFTYONE_ENV=production
GRAPHQL_DEFAULT_LIMIT=10

# Fiftyone App Configuration
FIFTYONE_BASE_DIR=/teams/some-data-directory/
FIFTYONE_DEFAULT_APP_ADDRESS=127.0.0.1
FIFTYONE_DEFAULT_APP_PORT=5151
FIFTYONE_DATABASE_NAME=fiftyone

# FiftyOne Teams App Configuration
# Set to true if using SSL on the frontend
APP_USE_HTTPS=true
APP_BIND_ADDRESS=127.0.0.1
APP_BIND_PORT=3000

# The following are docker-compose links and will work in most situations
FIFTYONE_TEAMS_PROXY_URL=http://fiftyone-app:5151
# This only gets used with a dedicated teams-plugins service
FIFTYONE_TEAMS_PLUGIN_URL=http://teams-plugins:5151

# Environment Proxy settings, if you're using a proxy to get to the Internet
# set these to appropriate values and uncomment the associated settings in the `compose.yaml`
# HTTP_PROXY_URL=http://proxy.yourcompany.tld:3128
# HTTPS_PROXY_URL=https://proxy.yourcompany.tld:3128
#
# You must include the container service names in your NO_PROXY_LIST
# NO_PROXY_LIST: teams-api, teams-app, fiftyone-app, teams-plugins, otherservers.yourcompany.tld
