---
# For Proxy Server instructions please see
#  https://github.com/voxel51/fiftyone-teams-app-deploy/tree/main/docker#environment-proxies
include:
  - compose.delegated-operators.yaml

services:
  fiftyone-app:
    extends:
      file: ../common-services.yaml
      service: fiftyone-app-common

  teams-api:
    environment:
      FIFTYONE_PLUGINS_DIR: /opt/plugins
    extends:
      file: ../common-services.yaml
      service: teams-api-common
    volumes:
      - plugins-vol:/opt/plugins

  teams-app:
    environment:
      FIFTYONE_TEAMS_PLUGIN_URL: ${FIFTYONE_TEAMS_PLUGIN_URL}
    extends:
      file: ../common-services.yaml
      service: teams-app-common

  teams-cas:
    environment:
      FIFTYONE_AUTH_MODE: internal
      NEXTAUTH_URL: ${BASE_URL}/cas/api/auth
      CAS_URL: ${BASE_URL}
    extends:
      file: ../common-services.yaml
      service: teams-cas-common

  teams-plugins:
    extends:
      file: ../common-services.yaml
      service: teams-plugins-common
    volumes:
      - plugins-vol:/opt/plugins:ro

volumes:
  plugins-vol:
