{{- $serviceAccountName := include "fiftyone-teams-app.serviceAccountName" . }}
{{- if .Values.apiSettings.rbac.create }}
{{- $serviceAccountName = include "rbac-do-templates.service-account-name" . }}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "teams-api.name" . }}
  namespace: {{ .Values.namespace.name }}
  {{- with .Values.apiSettings.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    app: {{ include "teams-api.name" . }}
    {{- include "fiftyone-teams-api.labels" . | nindent 4 }}
spec:
  {{- if and (gt ( int .Values.apiSettings.replicaCount)  1) (.Values.apiSettings.env.FIFTYONE_SHARED_ROOT_DIR) }}
  replicas: {{ .Values.apiSettings.replicaCount }}
  {{- else }}
  replicas: 1
  {{- end }}
  selector:
    matchLabels:
      app: {{ include "teams-api.name" . }}
      {{- include "fiftyone-teams-api.selectorLabels" . | nindent 6 }}
  strategy:
    {{- toYaml .Values.apiSettings.updateStrategy | nindent 4 }}
  template:
    metadata:
      {{- with .Values.apiSettings.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ include "teams-api.name" . }}
        {{- include "fiftyone-teams-api.selectorLabels" . | nindent 8 }}
        {{- with .Values.apiSettings.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ $serviceAccountName }}
      securityContext:
        {{- toYaml .Values.apiSettings.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ include "teams-api.name" . }}
          securityContext:
            {{- toYaml .Values.apiSettings.securityContext | nindent 12 }}
          image: "{{ .Values.apiSettings.image.repository }}:{{ .Values.apiSettings.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.apiSettings.image.pullPolicy | default "Always" }}
          env:
            {{- include "fiftyone-teams-api.env-vars-list" . | indent 12 }}
          ports:
            - name: {{ .Values.apiSettings.service.shortname }}
              containerPort: {{ .Values.apiSettings.service.containerPort | default 8000 }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health/
              port: {{ .Values.apiSettings.service.shortname }}
            failureThreshold: {{ .Values.apiSettings.liveness.failureThreshold }}
            periodSeconds: {{ .Values.apiSettings.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.apiSettings.liveness.timeoutSeconds }}
          readinessProbe:
            httpGet:
              path: /health/
              port: {{ .Values.apiSettings.service.shortname }}
            failureThreshold: {{ .Values.apiSettings.readiness.failureThreshold }}
            periodSeconds: {{ .Values.apiSettings.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.apiSettings.readiness.timeoutSeconds }}
          startupProbe:
            httpGet:
              path: /health/
              port: {{ .Values.apiSettings.service.shortname }}
            failureThreshold: {{ .Values.apiSettings.startup.failureThreshold }}
            periodSeconds: {{ .Values.apiSettings.startup.periodSeconds }}
            timeoutSeconds: {{ .Values.apiSettings.startup.timeoutSeconds }}
          resources:
            {{- toYaml .Values.apiSettings.resources | nindent 12 }}
          volumeMounts:
            {{- if or (.Values.delegatedOperatorJobTemplates.configMap.create) (.Values.delegatedOperatorJobTemplates.configMap.name) }}
            - name: do-targets
              mountPath: /tmp/do-targets
            {{- end }}
            {{- with .Values.apiSettings.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      {{- if .Values.apiSettings.initContainers.enabled }}
      initContainers:
        {{-
          include "fiftyone-teams-app.commonInitContainers"
          (
            dict "casServiceName" (include "teams-cas.name" .)
            "containerSecurityContext" .Values.apiSettings.initContainers.containerSecurityContext
            "repository" .Values.apiSettings.initContainers.image.repository
            "resources" .Values.apiSettings.initContainers.resources
            "tag" .Values.apiSettings.initContainers.image.tag
          ) | nindent 8
        }}
      {{- end }}
      {{- with .Values.apiSettings.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.apiSettings.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.apiSettings.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.apiSettings.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- include "fiftyone-teams-app.commonTopologySpreadConstraints" (dict "constraints" .Values.apiSettings.topologySpreadConstraints "selectorLabels" "fiftyone-teams-api.selectorLabels" "context" $) | nindent 8 }}
      {{- end }}
      volumes:
        {{- if or (.Values.delegatedOperatorJobTemplates.configMap.create) (.Values.delegatedOperatorJobTemplates.configMap.name) }}
        - name: do-targets
          configMap:
            name: {{ include "delegated-operator-templates.config-map-name" . }}
        {{- end }}
        {{- with .Values.apiSettings.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
