---
name: Tests - Integration Helm

on:
  workflow_call:
    secrets:
      REPO_GOOGLE_WORKLOAD_IDP:
        required: true

jobs:
  integration-helm:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6.0.0
      - name: Temporary SQLite/LZMA - Install missing libraries
        run: sudo apt install -y libsqlite3-dev libbz2-dev
      - name: install asdf & tools
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: 'computer-vision-team'
          service_account: 'github@computer-vision-team.iam.gserviceaccount.com'
          workload_identity_provider: ${{ secrets.REPO_GOOGLE_WORKLOAD_IDP }}
      - name: Set Up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
      - name: Run integration tests
        shell: bash
        run: |
          gcloud components install gke-gcloud-auth-plugin --quiet
          make helm-repos
          make test-integration-helm-ci
