---
# Ensures that all of the default images in our
# helm values.yaml file are pullable to authenticated
# users.
# Triggered on the PRs to the main branch.

name: Tests - Artifact Pulls

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main # test only PRs to main branch

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker-pulls:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6.0.0
      - name: Temporary SQLite/LZMA - Install missing libraries
        run: sudo apt install -y libsqlite3-dev libbz2-dev
      - name: install asdf & tools
        uses: asdf-vm/actions/install@v4.0.0
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ORG_DOCKERHUB_USERNAME }}
          password: ${{ secrets.ORG_DOCKERHUB_TOKEN }}
      - name: Test all docker pulls
        shell: bash
        run: |
          ./utils/validate-docker-pulls.sh
