---
name: Tests - Helm

on: workflow_call

jobs:
  unit-helm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6.0.0
      - name: Temporary SQLite/LZMA - Install missing libraries
        run: sudo apt install -y libsqlite3-dev libbz2-dev
      - name: install asdf & tools
        uses: asdf-vm/actions/install@v4.0.1
      - name: Run unit tests
        shell: bash
        run: |
          make test-unit-helm
